<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcun.b1.a1b_pcun_ma">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_pcun"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_pcun"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".GlobalData">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".FragmentMapActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pcun.b1.a1b_pcun_ma.FragmentMapActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FavouriteActivity" />
        <activity android:name=".AllPointsActivity" />
        <activity android:name=".StatActivity" />
        <activity android:name=".CreatePointForm" />
        <activity android:name=".AuthenticationActivity" />
        <activity android:name=".CreateUserActivity"></activity>
    </application>

</manifest>